# نظام التشغيل
.DS_Store
Thumbs.db

# Node modules (في حال استخدمت أدوات بناء مستقبلًا)
node_modules/
dist/
build/

# ملفات التكوين المحلية
.env
*.local

# Netlify
.netlify/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# نظام Windows
desktop.ini

# Backup
*.bak
*.tmp
*.swp

# مخلفات النظام
*.log
*.cache
